
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>Checkerboard</title>
</head>
<body>
    <table>
        <tbody>
            {% for o in range(0,fila) %}
                <tr>
                    {% for y in range(0,columna) %}
                        {% if (y+o) % 2 == 0 %}    <!--suma la posicion de las celdas del tablero en columa y pinta de manera intercalada cada celda -->
                            <td style="background-color: {{color_uno}};"></td>
                        {% else %}
                            <td style="background-color: {{color_dos}};"></td>
                        {%  endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>